@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,800&display=swap');

body {
background: #85929E; 
font-family: 'Raleway';
}

#page-wrapper {
    position: relative;
    /* width: 1800px; */
}

#header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    right:0;
    top:0;
    left:0;
    height: 80px;
    border: dotted 2px #333 ;
    box-sizing: border-box:
}

.logo {
    display: flex;
    width: 30%;
}

#header-img {
    height: 80px;
    justify-content: space-between;
}

.logo p {
    font-size: 30px;
    padding-bottom: 30px;
}

#nav-bar {
    align-content: flex-end;
    /* margin-left: auto; */
    border: dotted 2px #555;
}

#nav-bar li {
    display: inline-block;
    list-style: none;
}

li a {
    display: block;
    padding: 8px;
    text-decoration: none;
}
