@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,800&display=swap');

body {
background: #85929E; 
font-family: 'Raleway';
}

#page-wrapper {
    position: relative;
}

#header {
    display: flex;
    flex-direction: row;
}

.logo {
    float: left;
    overflow: hidden;
}

#header-img {
    width: 100px;
    height: auto;
}

.logo p {
    width: 70%;
    display: inline;
    padding: 10px 0;
    
}

#nav-bar {
    float: right;
}

#nav-bar li {
    display: inline-block;
    list-style: none;
}

li a {
    display: block;
    padding: 8px;
    text-decoration: none;
}
